.wfit-container, .wfit-end-btn, .wfit-header, .wfit-history { font-family: Tahoma, Helvetica, Arial, 'Trebuchet MS'; } 
.wfit-container, .wfit-end-btn {font-size: 16px;} 
.wfit-container {width: 300px;} 
.wfit-container, .wfit-history { opacity: 0.95;z-index:999;position: fixed;-webkit-transition: left 0.5s;transition: left 0.5s; padding:10px; color:#111;} 
.wfit-container, .wfit-history { background: #fff;box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0); text-align: center;border:2px solid #212121;} 
.wfit-container:hover, .wfit-history:hover {opacity: 1;} 
.wfit-container{right:5px;top: 0px; bottom: 0px;} 
.wfit-history {left:5px;top: 50px;height: 85%; overflow: scroll;text-align: left;font-size: 14px;} 
.wfit-container .wfit-box {background-color: #1B1C26; min-height: 150px; overflow-y: scroll; padding: 15px; margin-bottom: 15px;} 
 
.wfit-title{text-transform: uppercase; text-align: left; padding-left: 10px; color: #6F6F90;}
.wfit-half{width: 49%; float: left; color: #dedede;}
.wfit-header {font-size: 22px;} 
.wfit-left-tab-header1 {font-size:22px;text-align: center;} 
.wfit-left-tab-header2 {font-size:15px;font-weight: bold;padding-top: 10px;width:100%;float: left;} 
.wfit-header, .wfit-logo {width:inherit;float: left;text-align: center;} 
.wfit-logo img {width: 35px;} 
.wfit-header-row {padding-bottom: 20px;} 
.wfit-row {padding-top: 13px;text-align: left;font-size: 14px;clear:both;} 
.wfit-row .wfit-label {float: left; text-transform: uppercase;} 
.wfit-row.wfit-color .wfit-label {text-align: center;} 
.wfit-row .wfit-label.wfit-half {color: #6F6F90;} 
.wfit-btn-row {padding-top: 40px;padding-bottom: 10px;} 
 
.wfit-end-btn { background: #212121;color:#fff;cursor: pointer;} 
.wfit-end-btn {padding: .3em .6em;box-shadow: 0 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.4) inset;background-color: #333;color: #fff !important;border: 1px solid #000 !important;border-radius: 3px;text-decoration: none;} 
.wfit-end-btn:hover {border:2px solid #999;} 
 
.wfit-boxes {padding-top: 0.8px;padding-bottom: 0.8px;padding-left: 10px;padding-right: 10px;border-width: 1px;border-style: solid;border-color: rgba(0,0,0,.2);margin-right: 5px;background-color: #fff;} 
 
.wfit-container .wfit-row-scroll {max-height: 90px; overflow-y: scroll;}
.wfit-credits {font-size: 12px;} 
 
.wfit-ul {list-style: none;margin-left: 0px;} 
#wfit-font-history ul {padding-left: 0px; max-height: 90px; overflow-y: scroll;}
#wfit-font-history ul li {text-align: left; padding-left: 10px; color: #dedede;}
.wfit-box hr {margin-top: 25px; margin-left: -15px; margin-right: -15px;}
